#search-section{
    font-family: Arial;
    font-size: 15px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top:15px;


}
.inputclass{
	padding-left:2px ;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left:2px ;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-top: 2px;

}
#searchby{
	width: 1300px

}
#submit-button{
	font:inherit;
	font-size: 100%;
}