<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Finder</title>
</head>
<body>

    <h1>List of All Movies currently in the repo</h1>

    <p th:text="'Movie List size ' +${movieLstSize}"/>

    <table>
        <tr>
            <th>Movie Id</th>
            <th>Title</th>
            <th>Release yearOfRelease</th>
            <th>Genre</th>
        </tr>

        <tr th:each="movieObj:${movieLst}">
            <td th:text="${movieObj.getMovieId()}"></td>
            <td th:text="${movieObj.getTitle()}"></td>
            <td th:text="${movieObj.getYearOfRelease()}"></td>
            <td th:text="${movieObj.getGenre()}"></td>

        </tr>
    </table>
</body>